{% extends "base.html" %}

{% block title %}
Add Product | StoreLedger
{% endblock %}

{% block page_title %}
Add Product
{% endblock %}

{% block content %}

<div class="form-card">

    <form method="POST">

        <div class="form-group">
            <label>Product Name</label>

            <input
                type="text"
                name="product_name"
                required
            >
        </div>

        <div class="form-group">
            <label>Category</label>

            <select name="category_id">

                <option value="">
                    Select Category
                </option>

                {% for category in categories %}

                <option value="{{ category.category_id }}">
                    {{ category.category_name }}
                </option>

                {% endfor %}

            </select>
        </div>

        <div class="form-group">
            <label>Price</label>

            <input
                type="number"
                name="price"
                step="0.01"
                min="0"
                required
            >
        </div>

        <div class="form-group">
            <label>Stock</label>

            <input
                type="number"
                name="stock"
                min="0"
                value="0"
                required
            >
        </div>

        <div class="form-group">
            <label>Minimum Stock</label>

            <input
                type="number"
                name="minimum_stock"
                min="0"
                value="5"
                required
            >
        </div>

        <div class="form-group">
            <label>Tax Rate (%)</label>

            <input
                type="number"
                name="tax_rate"
                step="0.01"
                min="0"
                value="0"
            >
        </div>

        <div class="form-group">
            <label>Expiry Date</label>

            <input
                type="date"
                name="expiry_date"
            >
        </div>

        <div class="form-actions">

            <button
                type="submit"
                class="primary-button"
            >
                Save Product
            </button>

            <a
                href="{{ url_for('products') }}"
                class="secondary-button"
            >
                Cancel
            </a>

        </div>

    </form>

</div>

{% endblock %}